<!-- <app-semaforo></app-semaforo>
<app-lista></app-lista>
<app-prueba-material></app-prueba-material>
<app-ppt></app-ppt> -->

<mat-toolbar color="primary">
<div class="opcion" routerLink="/piedra-papel-tijera"> Ir a piedra papel tijera </div>
<div class="opcion" routerLink="/lista-personajes"> Ir a lista personajes </div>
<div class="opcion" routerLink="/semaforo"> Ir a semaforo </div>
<div class="opcion" routerLink="/prueba-material"> Ir a prueba material </div>
<div class="opcion" (click)="cambiaRuta()">ruta aleatoria</div>
</mat-toolbar>
<router-outlet></router-outlet>